<div class="column">
  <h1>Reddit's Scrapped Results</h1>
</div>

<div class="row">
  <div class="column column-80">
      <% @entries.reverse.each do |entry| %>
        <tr>
          <td>
            <h3><%= entry.title %></h3>
            <p><%= entry.link %></p>
          </td>
        </tr>
      <% end %>
  </div>

  <div class="column column-20">
    <h3>Tags:</h3>
     <% @tags.each do |tag| %>
      <%= link_to tag.name, tag_path(tag) %>
      <% end %>
  </div>
</div>